# Ambiente virtual
venv/
env/
ENV/

# Arquivos Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.eggs/

# Arquivos Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db 