{% extends 'base.html' %}

{% block title %}Informações Gerais{% endblock %}

{% block header_title %}Informações Gerais{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://concursoderedacao.rr.def.br/images/phocadownload/4conc.jpeg" alt="Logo ESDEP" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h4>EDITAIS E ANEXOS</h4>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="bi bi-file-pdf text-danger"></i> ANEXO I - TERMO DE COMPROMISSO
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="bi bi-file-pdf text-danger"></i> ANEXO II - TERMO DE CESSÃO DE IMAGEM E FALA
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="bi bi-file-pdf text-danger"></i> ANEXO III - TERMO DE AUTORIZAÇÃO DO RESPONSÁVEL
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="bi bi-file-pdf text-danger"></i> ANEXO IV - FORMULÁRIO DE REDAÇÃO
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="bi bi-file-pdf text-danger"></i> ANEXO V - FORMULÁRIO RESOLUÇÃO ESCOLA
                </a>
            </div>

            <h4 class="mt-4">MATERIAL DE APOIO</h4>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="bi bi-file-pdf text-danger"></i> Apresentação da DPE
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="bi bi-file-pdf text-danger"></i> Manual do Candidato
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="bi bi-file-pdf text-danger"></i> Guia de Estudos
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="bi bi-file-pdf text-danger"></i> Modelo de Redação
                </a>
            </div>

            <h4 class="mt-4">CRONOGRAMA</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Etapa</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Período de Inscrições</td>
                            <td>01/02/2024 a 29/02/2024</td>
                        </tr>
                        <tr>
                            <td>Divulgação das Inscrições Deferidas</td>
                            <td>05/03/2024</td>
                        </tr>
                        <tr>
                            <td>Prazo para Recursos</td>
                            <td>06/03/2024 a 07/03/2024</td>
                        </tr>
                        <tr>
                            <td>Resultado Final</td>
                            <td>15/03/2024</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
